llama-index==0.12.32
llama-index-vector-stores-qdrant==0.6.0
qdrant-client==1.14.1
langchain-openai==0.3.14
langchain-qdrant==0.2.0
sentence-transformers==4.1.0
pandas==2.2.3
pytz==2025.2
jupyter==1.0.0
qdrant-client[fastembed]